.idea/
__pycache__/
log
*.sas

*.DS_Store



# valid-benchmarks-0.2/*

# !/valid-benchmarks-0.2/debug/
# !/valid-benchmarks-0.2/debug/**

debug.ipynb
valid-benchmarks-0.2/debug/.DS_Store
mainfile.log
